
.bgloading {
    display: block;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .5;
    background: rgba(255, 255, 255, .48) url('../img/ajax-loader.gif') 50% 50% no-repeat;
    /*overflow: hidden;*/
}


